.App {
  padding-top: 92px;
}

#main,
ul {
  border: 0;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

div.center {
  box-sizing: border-box;
  padding: 5px;
  display: table;
  margin: 0 auto;
  min-width: 320px;
}
/* Button Colors */
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

/* @media (max-width: 992px) { } */
@media (max-width: 600px) {
  .App {
    padding-top: 62px;
  }
}
